// //
// // Aside
// //

.aside-menu {
    background-color: #1e1e2d;
	.menu-item.v-item--active {
		color: white;
		&.v-list-item--link::before{
			background-color: #1b1b28;	
		} 
	}
	
    .v-navigation-drawer__content{
      overflow-y: hidden;
    }
    .v-list-item__content{
      padding: 12px 0px 10px;
	}

	.menu-bullet.menu-bullet-dot{
		width: 5px;
		height: 5px;
		background: white;
		border-radius: 50%;
		margin-right: 8px;
	}
	
}


